<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cz.romario.opensudoku.gui"
      android:versionCode="1"
      android:versionName="1.0.0">
    <!-- TODO: z release verze bych mel asi debuggable odstranit -->
    <application android:icon="@drawable/opensudoku_v2" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".OpenSudokuActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".SudokuListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".SudokuDetailActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".SudokuEditActivity"
                  android:label="@string/app_name">
	        <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
        </activity>
        <activity android:name=".SudokuPlayActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".SelectNumberActivity"
                  android:label="@string/select_number"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".FolderListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FolderEditActivity"
                  android:label="@string/app_name">
	        <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
        </activity>
        
    </application>
</manifest> 